{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Departure Table:</h1>

</style>
{% for trip in object_list %}

        <div style=" width: 75%;height: 15vw; background-color:#909090;border-radius: 25%; display: flex;">
            <img style="float:left;height: 100%;width:50%" src="{{trip.dest_pic.url}}"  >

            <a style="color:white;right:0;" href="{% url 'trip_details' trip.pk %}"><h1>{{trip.destination}}</h1></a>
            {% if request.user.is_superuser %}
                <a href="{% url 'delete_trip' trip.pk %}">(Delete)</a>
                <a href="{% url 'edit_trip' trip.pk %}">(Edit)</a>
            {% endif %}
        </div><br/>


{% endfor %}



{% endblock %}
