{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Departure Table:</h1>
<style type="text/css">

    .navbar navbar-expand-lg{
    min-width:750px;
    }
</style>
{% for trip in object_list %}

        <div style=" height: 250px; width: 750px;background-color:#909090;border-radius: 25%; display: flex;">
            <img style="float:left;height: 250px;" src="{{trip.dest_pic.url}}"  >

            <a style="color:white;right:0;" href="{% url 'trip_details' trip.pk %}"><h1>{{trip.destination}}</h1></a>
            {% if request.user.is_superuser %}
                <a href="{% url 'delete_trip' trip.pk %}">(Delete)</a>
                <a href="{% url 'edit_trip' trip.pk %}">(Edit)</a>
            {% endif %}
        </div><br/>


{% endfor %}



{% endblock %}
